@model dynamic
@using InertiaCore
@using AspNetMvcReact.Extensions
@{
    ViewData["Title"] = "ASP.NET MVC React Inertia App";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title inertia="title">ASP.NET MVC React Inertia App</title>

    @Html.ViteCss("src/main.tsx")
</head>
<body>
    @await Inertia.Html(Model)
    
    @Html.ViteAsset("src/main.tsx")
</body>
</html>